.DS_Store
**/.DS_Store

.env
backend/.env
mock-erp/.env
frontend--OLD

backend/vendor/
mock-erp/vendor/

backend/database/database.sqlite
mock-erp/database/database.sqlite

*.sqlite



.kilo/plans
CLAUDE.md
session-*.md